.mainpage {
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}
.blockButton {
    align-items: center;
    padding: 15px;
    width: fit-content;
    border: 1px solid var(--accent-color);
    font-size: 1.3rem;
}