.container {
}

.nav_list {
  display: flex;
  width: 10em;
  flex-direction: column;
  gap: 0.2em;
  flex-wrap: wrap;
}
.list_button {
  width: 10em;
  height: 5em;
  margin: 0.5em;
  padding: 10px;
  background: var(--accent-color);
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 0.6em;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.list_button:hover {
  color: black;
}
.list_button::after {
  content: '';
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}
.list_button:hover::after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
